# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Clé secrète pour JWT (générer une clé sécurisée pour la production)
JWT_SECRET="your_jwt_secret_key"

# URLs de connexion à la base de données
DATABASE_URL="postgresql://postgres:[VOTRE_MOT_DE_PASSE]@db.[VOTRE_PROJET].supabase.co:5432/postgres"
DIRECT_URL="postgresql://username:password@host:port/database"

# Configuration OAuth Google
GOOGLE_CLIENT_ID="votre-client-id"
GOOGLE_CLIENT_SECRET="votre-client-secret"

# Configuration NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="votre-secret-nextauth"

# Configuration Supabase
NEXT_PUBLIC_SUPABASE_URL="https://[VOTRE_PROJET].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="votre-clé-anon-supabase"
SUPABASE_SERVICE_ROLE_KEY="your_supabase_service_role_key"

# Sentry
NEXT_PUBLIC_SENTRY_DSN="https://votre-dsn-sentry@xxx.ingest.sentry.io/xxx"

# Environnement
NODE_ENV="development" # ou "production"